<a href="https://colab.research.google.com/github/ninja03jod/Exercise/blob/main/function_pynative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to create a function that takes two arguments, name and age, and print their value.
def info(name,age):
  print('name is:',name)
  print('age is:',age)
info('saad',22)

name is: saad
age is: 22

In [ ]:
# Write a program to create function func1() to accept a variable length of arguments and print their value.
# call function with 3 arguments
#func1(20, 40, 60)

# call function with 2 arguments
#func1(80, 100)

def func1(*a):
  for i in a:
    print(i)
func1(20,40,60)
func1(80,100)

20
40
60
80
100

In [ ]:
# Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction.
# Also, it must return both addition and subtraction in a single return call.
def cal(a,b):
  return a+b,a-b
print(cal(40,10))

(50, 30)

In [ ]:
def cal(a,b):
  print(a+b,a-b)
cal(40,10)

50 30

In [ ]:
# Write a program to create a function show_employee() using the following conditions.
# It should accept the employeeâ€™s name and salary and display both.
# If the salary is missing in the function call then assign default value 9000 to salary
def show_employee(name,salary=9000):
  print('name:',name,'salary:',salary)
show_employee('ben',12000)
show_employee('jessa')

name: ben salary: 12000
name: jessa salary: 9000

In [ ]:
# Create an outer function that will accept two parameters, a and b
# Create an inner function inside an outer function that will calculate the addition of a and b
# At last, an outer function will add 5 into addition and return it
def outer_func(a,b):
  def inner_func(a,b):
     return a+b
  inner_func(a,b)
  return inner_func(a,b)+5
print(outer_func(5,10))

20

In [ ]:
# Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
def add(*a):
  print('sum is:',a)
add(sum(range(1,11)))

sum is: (55,)

In [ ]:
def add(a):
  s = 0
  for i in range(1,a+1):
    s +=i
  print(s)
add(10)

55

In [ ]:
def show_student(name,age):
  def display_student(name, age):
      print(name, age)

  add = display_student("Emma", 26)
show_student('emma',26)

Emma 26

In [ ]:
def display_student(name, age):
      print(name, age)

display_student("Emma", 26)

show_student = display_student
show_student('emma',26)

Emma 26
emma 26

In [ ]:
print([i for i in range(4,31,2)])

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
print(list(range(4,31,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
x = [4, 6, 8, 24, 12, 2]
max(x)

24

In [ ]:
from functools import reduce
x = [4, 6, 8, 24, 12, 2]
print(reduce(lambda x,y : max(x,y),x))

24

In [ ]:
def maxi(a):
  x = [4, 6, 8, 24, 12, 2]
  x.sort()
  print(x[a])
maxi(-1)

24