<a href="https://colab.research.google.com/github/ninja03jod/Exercise/blob/main/Lambda_func_assignments_on_args.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Check the 4 types of arguments in Lambda function
# 1) Positional arguments:

#Ex:
add = lambda x,y:x*y
print(add(7,8))

info = lambda nme,age:(nme,age)
print(info('saad',22))

number = lambda num:'+ve' if num >= 0 else '-ve'
print(number(45))

56
('saad', 22)
+ve

In [9]:
# 2) keywords arguments:

#Ex.
info = lambda name,age,salary:(name,age,salary)
print(info(salary=30000,age=22,name='saurabh'))

info = lambda name='sid',age=25,salary=150000:(name,age,salary)
print(info())

('saurabh', 22, 30000)
('sid', 25, 150000)

In [17]:
# 3) default arguments:

# Ex.
default = lambda x=44:x
print(default(43))

a1 = lambda a,b,c=48:(a,b,c)
print(a1('sakib','tejas',c=57))

# get the output as even by changing default value
eve = lambda num =43 : 'even' if num %2 == 0 else 'odd'
print(eve(44))

43
('sakib', 'tejas', 57)
even

In [24]:
# 4) variable length argument:
# - variable length positional arguments

#Ex.
val = lambda *n:n
print(val(6+8+79+65+4,45+65,6+98))

multi = lambda *a:a
print(multi(9*9,7*7,8*8,6*6,4*4,5*5,3*3,1*1,2*2))

(162, 110, 104)
(81, 49, 64, 36, 16, 25, 9, 1, 4)

In [35]:
# - variable length kewords argument:

#Ex.
a1 = lambda **n:n
print(a1(name='saad',city='karad',age=22))

a1 = lambda **n:n.get('name')
print(a1(name='saad',city='karad',age=22))

{'name': 'saad', 'city': 'karad', 'age': 22}
saad