<a href="https://colab.research.google.com/github/ninja03jod/Exercise/blob/main/Lambda_function_if_else_%26_higher_order_funct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Lambda is Anonymous or Nameless function
It use to write a function without name and it has simple structure
Syntax:
lambda parametre/s:expression
parameter can be add one or more
expression - operation/method

"""

In [ ]:
# normal function vs lambda function

def sq(num):
  return num*num
print(sq(10))
# normal function contains more methods
# we have to write the return statement
# sq is function
def sq1(num):
  print(num*num)
print(sq1)

# sq of num:
sq = lambda n:n*n
print(sq(10))

# lambda function contains less methods
# retrun is bydefault in lambda function
# sq is reference to the lambda function
print(sq)


# which one is better:
# - Depends according to the requirment
# - for short concise we can use lambda
# - for complex and multiple lines of code we can use normal function

100
<function sq1 at 0x79c2d76b25f0>
100
<function <lambda> at 0x79c2d76b27a0>

In [ ]:
# convert name is uppercase
con = lambda name: name.upper()
print(con('saad'))

# reverse
rev = lambda nme : nme[::-1]
print(rev('mohmmadsaad bagwan'))

SAAD
nawgab daasdammhom

In [ ]:
# we can supply multiple args
a = lambda x,y,z:x+y+z
print(a(7,8,9))

# b = lambda x,y,z: x+y,y+z,z+X # it will raise an error we cannot add directly
b = lambda x,y,z: (x+y,y+z,z+x)
print(b(9,8,7))

24
(17, 15, 16)

In [ ]:
# solve problems usingb if else
clt = lambda price: '30% discount will be applied' if price >=4500 else 'price is under 4500'
print(clt(3500))
print(clt(4500))
print(clt(4550))

price is under 4500
30% discount will be applied
30% discount will be applied

In [ ]:
a = lambda num:'divisible by 5' if num%5 == 0 else 'not divisible by 5'
print(a(105))
print(a(13))

divisible by 5
not divisible by 5

In [ ]:
elig = lambda per:'student is eligible to fill form' if per >= 70 else 'student is not eligible'
print(elig(71))
print(elig(69))

student is eligible to fill form
student is not eligible

In [ ]:
# Use of Lambda in higher order function:
# Higher order function in lambda which takes other function as input
# there are 3 types
# - map  - filter  - reduce

In [ ]:
# map:
# map can apply function over each element from an iterable
# map (func,iter_var)
# typecasting is required

#Ex.
a = [10,20,30,40,50]
#lets add 100 in each
add = lambda n:n+100
print(list(map(add,a)))
print(tuple(map(add,a)))

[110, 120, 130, 140, 150]
(110, 120, 130, 140, 150)

In [ ]:
# Ex. multiply each element by 10
b = [10,20,30,40,50]
multi = lambda n: n*10
print(list(map(multi,b)))

[100, 200, 300, 400, 500]

In [ ]:
x = [10,45,98,65,72,31,76,55]
d = lambda i:(i,'even number') if i %2 ==0 else (i,'odd number')
print(list(map(d,x)))

[(10, 'even number'), (45, 'odd number'), (98, 'even number'), (65, 'odd number'), (72, 'even number'), (31, 'odd number'), (76, 'even number'), (55, 'odd number')]

In [ ]:
# filter: filter(func,iter_var)
# filter is a condition based function
# In this function we hvae to specify the condition
# we can directly pass lambda function thats why lambda is anonymous / nameless
#typecasting is needed

#Ex. fetch the elements divisible by 5

num = [44,78,58,95,135,44,675]
# here we supply lambda function directly
print(list(filter(lambda n: n%5 == 0,num)))

[95, 135, 675]

In [ ]:
#Ex. convert into uppercase and get the output in set form
a = ['saad','saurabh','akash','mohan','akash','saad']
print(set(filter(lambda i: i.upper(),a))) # set does not allows duplicates

{'saurabh', 'akash', 'mohan', 'saad'}

In [ ]:
#Ex. - -ve
num = [44,-85,78,-9,58,-74,95,-12,135,-25,44,675]
print(list(filter(lambda i: i<0 ,num)))

[-85, -9, -74, -12, -25]

In [ ]:
# reduce : reduce(fun,iter_var) It used to reduce sequence in single value
# reduce is not directly avail like map & filter
# we have to take from functools
# we can supply directly lambda function
# no need of typecasting


# Ex. perform multiplication

from functools import reduce
a = [525,65,895,1005,3]
print((reduce(lambda i,y:i*y,a)))

92083753125

In [ ]:
"""
map vs filter vs reduce

- map can supply function over each element from an iterable
- filter is condition based we have to secify a condition
- reduce is used to reduce sequence in single value

- map and filter requires typecastig
- reduce does not requires typecasting

- we can directly supply lambda function in filter and reduce
- we can't supply the lambda function directly in map

- reduce is not directly avail like map and filter we have to import it from functools


"""

In [5]:
num = [44,78,58,95,135,44,675]
a = lambda x:(x,'even number') if x%2 ==0 else (x,'odd number')
print(list(map(a,num)))

[(44, 'even number'), (78, 'even number'), (58, 'even number'), (95, 'odd number'), (135, 'odd number'), (44, 'even number'), (675, 'odd number')]

In [7]:
num = [44,78,58,95,135,44,675]
print(list(filter(lambda i: i > 90,num)))

[95, 135, 675]

In [9]:
num = [44,78,58,95,135,44,675]
print(reduce(lambda i,y:min(i,y),num))

44