<a href="https://colab.research.google.com/github/ninja03jod/Exercise/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# List comprehension:
# It is a way to create a simple code
# it makes one line faster solution and output will get in list form

# syntax:
# [expression for var in iterable]

# ps : generate list of cube
a = [2,4,8]
print([i**3 for i in a])

[8, 64, 512]

In [7]:
a = [2,3,4]
print([sum(a) for i in a])

[9, 9, 9]

In [8]:
# ps : convert names in uppercase
a = ['saad','umar','ibrahim','saqlain']
print([i.upper() for i in a])

['SAAD', 'UMAR', 'IBRAHIM', 'SAQLAIN']

In [13]:
# ps : fetch the elements at even index and show o/p in list of list
a = ['saad','umar','ibrahim','saqlain']
print([[a[i]] for i in range(0,len(a),2)])

[['saad'], ['ibrahim']]

In [14]:
# ps: fetching the objects at even index by converting them into upper and show o/p in list of list
a = ['saad','umar','ibrahim','saqlain']
print([[a[i].upper()] for i in range(0,len(a),2)])

[['SAAD'], ['IBRAHIM']]

In [18]:
# ps : convert saad by sakib
a = ['saad','umar','ibrahim','saqlain']
print([i.replace('saad','sakib') for i in a])

['sakib', 'umar', 'ibrahim', 'saqlain']

In [20]:
# ps: return a list by multiplying 100 in each object
s = [12,45,98,78,65,32]
print([i*100 for i in s])

[1200, 4500, 9800, 7800, 6500, 3200]

In [23]:
# ps : return the list of list and show the index number with their element
s = [12,45,98,78,65,32]
print([[list(enumerate(s))]for i in s])

[[[(0, 12), (1, 45), (2, 98), (3, 78), (4, 65), (5, 32)]], [[(0, 12), (1, 45), (2, 98), (3, 78), (4, 65), (5, 32)]], [[(0, 12), (1, 45), (2, 98), (3, 78), (4, 65), (5, 32)]], [[(0, 12), (1, 45), (2, 98), (3, 78), (4, 65), (5, 32)]], [[(0, 12), (1, 45), (2, 98), (3, 78), (4, 65), (5, 32)]], [[(0, 12), (1, 45), (2, 98), (3, 78), (4, 65), (5, 32)]]]

In [26]:
# ps: return a number and its square in list of list
s = [12,45,98,78,65,32]
print([[i,i**2] for i in s])

[[12, 144], [45, 2025], [98, 9604], [78, 6084], [65, 4225], [32, 1024]]

In [32]:
# ps :return the list of even index element
a = [22,34,55,1,2,99,45,84,66]
print([a[i] for i in range(0,len(a),2)])

[22, 55, 2, 45, 66]

In [33]:
# ps : give the range and fetch the odd & even numbers
print([[i,'even'] if i%2 == 0 else [i,'odd'] for i in range(1,21)])

[[1, 'odd'], [2, 'even'], [3, 'odd'], [4, 'even'], [5, 'odd'], [6, 'even'], [7, 'odd'], [8, 'even'], [9, 'odd'], [10, 'even'], [11, 'odd'], [12, 'even'], [13, 'odd'], [14, 'even'], [15, 'odd'], [16, 'even'], [17, 'odd'], [18, 'even'], [19, 'odd'], [20, 'even']]

In [41]:
# ps: write a program to get 35% discount for buying above 4500 clothes
a = [int(input('enter buying price: '))]
print(['customer gets 35% discount' if i >= 4500 else 'price is under Rs. 4500' for i in a])

enter buying price: 4800
['customer gets 35% discount']

In [42]:
# ps : fetch the elements avail at even index and they are divisible by 2
a = [198,299,798,499,998,1900,99]
print([[a[i],'divisible by 20'] if a[i] %2 == 0 else [a[i],'not divisible bby 2'] for i in range(0,len(a),2)])

[[198, 'divisible by 20'], [798, 'divisible by 20'], [998, 'divisible by 20'], [99, 'not divisible bby 2']]

In [43]:
a = [[j for j in range(5)] for i in range(3)]
print(a)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [45]:
# ps : fetch the elements which r divisible by 5 and 10
a = [25,45,860,150,1800,785]
print([[i,'divisible by 5 and 10']if i%5 ==0 or if i%10 == 0 for i in a]) # we can't use if after if before for loop

SyntaxError: ignored

In [48]:
# ps : fetch the elements which r divisible by 5 and 10
a = [25,45,860,150,1800,785]
print([[i,'divisible by 5 and 10'] for i in a if i %5 ==0 if i%10 ==0]) # we can use if after if after for loop

[[860, 'divisible by 5 and 10'], [150, 'divisible by 5 and 10'], [1800, 'divisible by 5 and 10']]

In [49]:
# ps: give the range 50 and fetch elements divisible by 5 & 2
print([[i,'divisible by 5 & 2']for i in range(51) if i %2 ==0 if i%5 ==0])

[[0, 'divisible by 5 & 2'], [10, 'divisible by 5 & 2'], [20, 'divisible by 5 & 2'], [30, 'divisible by 5 & 2'], [40, 'divisible by 5 & 2'], [50, 'divisible by 5 & 2']]