<a href="https://colab.research.google.com/github/ninja03jod/Exercise/blob/main/Pynative_Str_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Excersies of String

# Ex. Write a program to create a  new str made of an input string frist,middle and last chr
inp_str = 'James'
print('Original string is:',inp_str)
s1= (inp_str[0],inp_str[2],inp_str[4])
s2 = ''.join(s1)
print('new string is:',s2)

Original string is: James
new string is: Jms

In [ ]:
# expected output = Mohsaad
str1 = 'Mohmmadsaad'
print('Original string is:',str1)
s1 = (str1[:3])
s2 = (str1[-4:])
s3 = s1 + s2
print('New string:',s3)

Original string is: Mohmmadsaad
New string: Mohsaad

In [ ]:
str1 = 'James'
print('Original string is',str1)

# get first chr
res = str1[0]

l = len(str1)

# get the middel chr index number
mi = int(l/2)
res = res + str1[mi]

# get last chr
res = res + str1[-1]
print('new string',res)

Original string is James
new string Jms

In [ ]:
# Write a program to create a new string made of the middle three characters of an input string.
str1 = "JhonDipPeta"
str2 = "JaSonAy"
print('Original string is:',str1)
s1 = str1[4:7]
print('New string is:',s1)
print('Original string is:',str2)
s2 = str2[2:5]
print('New string is:',s2)

Original string is: JhonDipPeta
New string is: Dip
Original string is: JaSonAy
New string is: Son

In [ ]:
# Given two strings, s1 and s2.
# Write a program to create a new string s3 by appending s2 in the middle of s1.
s1 = 'Ault'
s2 = 'Kelly'
print('original string is:',s1,'\n',s2)
s3 = s1[:2] + s2 + s1[2:]
print('new string is:',s3)

original string is: Ault
 Kelly
new string is: AuKellylt

In [ ]:
# Given two strings, s1 and s2,write a program to return a new string made of s1 and s2’s first, middle, and last characters.
s1 = 'America'
s2 = 'Japan'
print('original strings are:',s1,'\n',s2)
s3 = s1[0]+s2[0]
s4 = s3 + s1 [3] + s2 [2]
s5 = s4 + s1[6] + s2 [4]
result = s5
print('new string of s1 and s2 is:',result)

original strings are: America
 Japan
new string of s1 and s2 is: AJrpan

In [ ]:
s1 = 'America'
s2 = 'Japan'
print('original strings are:',s1,'\n',s2)
# get he first chr
res = s1[0] + s2[0]

# length
l1 = len(s1)
l2 = len(s2)

# get the middle chr
mi1 = int(l1/2)
mi2 = int(l2/2)
res = res + s1[mi1] + s2[mi2]

# get last chr
res = res + s1[-1] + s2[-1]
print('new string:',res)

original strings are: America
 Japan
new string: AJrpan

In [ ]:
# Given string contains a combination of the lower and upper case letters.
# Write a program to arrange the characters of a string so that all lowercase letters should come first.
stri = 'PyNaTive'
print('original string:',stri)
a = stri[0]+stri[2]+stri[4]
b = stri[1]+stri[3]+stri[5:]
result = b+a
print('new string:',result)

original string: PyNaTive
new string: yaivePNT

In [ ]:
stri = 'PyNaTive'
print('original string:',stri)
lower=[]
upper=[]
for chr in stri:
  if chr.islower():
    lower.append(chr)
  else:
    upper.append(chr)

new_str = ''.join(lower+upper)
print('new string:',new_str)

# join method of string is used to join the comma seperated value in list and tuple also

original string: PyNaTive
new string: yaivePNT

In [ ]:
a1 = 'AtTrIBute'
# print upper case letters first and then lowercase letters
print('original string:',a1)
a2 = a1[0] + a1[2] + a1[4:6]
a3 = a2 + a1[1] + a1[3] + a1[6:]
res = a3
print('New string:',res)

original string: AtTrIBute
New string: ATIBtrute

In [ ]:
# lets solve this problem by for loop
a1 = 'At1TrI3Bu6te'
upper = []
lower = []
digits = []
print('original stringL:',a1)
for chr in a1:
  if chr.isupper():
    upper.append(chr)
  elif chr.islower():
    lower.append(chr)
  else:
    digits.append(chr)
new_str = ''.join(upper + lower + digits)
print(new_str)

original stringL: At1TrI3Bu6te
ATIBtrute136

In [ ]:
# print first letters, digits, and special symbols from a given string
str2 = "P@#yn26at^&i5ve"
print('original string:',str2)
upper = []
lower = []
dig = []
sym = []
for i in str2:
  if i.islower():
    lower.append(i)
  elif i.isupper():
    upper.append(i)
  elif i.isdigit():
    dig.append(i)
  else:
    sym.append(i)
new_str = ''.join(lower+upper+dig+sym)
print(new_str)

original string: P@#yn26at^&i5ve
ynativeP265@#^&

In [ ]:
# Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
def cnt(str1):
  chr_count = 0
  digit_count = 0
  sym_count = 0
  for i in str1:
    if i.isalpha():
      chr_count +=1
    elif i.isdigit():
      digit_count +=1
    else:
      sym_count +=1
  print('chars =',chr_count,'Digits =',digit_count,'Symbols =',sym_count)
print(str1)
print('count of all letters,digits and symbols form str1 \n')
cnt(str1)

P@#yn26at^&i5ve
count of all letters,digits and symbols form str1

chars = 8 Digits = 3 Symbols = 4

In [ ]:
s1 = 'atT98*/R32iBu*Te>'
print("original string:",s1)
# count all letters,digits and symbols
def count(s1):
  cnt_let = 0
  cnt_dig = 0
  cnt_sym = 0
  for i in s1:
    if i.isalpha():
      cnt_let +=1
    elif i.isdigit():
      cnt_dig +=1
    else:
      cnt_sym +=1
  print('letters are',cnt_let)
  print('digits are',cnt_dig)
  print('symbols are',cnt_sym)
count(s1)

original string: atT98*/R32iBu*Te>
letters are 9
digits are 4
symbols are 4

In [ ]:
# Given two strings, s1 and s2. Write a program to create a new string s3
# made of the first char of s1, then the last char of s2,
# Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
s1 = 'Abc'
s2 = 'xyz'
print('original string:',s1,'\n',s2)
a = s1[0] + s2[-1]
a1 = a + s1[1] + s2 [-2]
a2 = a1 + s1[2] + s2[-3]
s3 = a2
print('new string:',s3)

original string: Abc
 xyz
new string: Azbycx

In [ ]:
s1 = 'Abc'
s2 = 'xyz'
# get first chr of s1 and last chr from s2
res = s1[0] + s2[-1]

# get middle chr of s1+ second last chr of s2
l1 = len(s1)
l2 = len(s2)

mi1 = int(l1/2)
mi2 = int(l2/2)
res = res + s1[mi1] + s2[mi2]

# get last chr of s1 and first chr of s2
res = res + s1[-1] + s2[0]
print('new string:',res)

new string: Azbycx

In [ ]:
# Write a program to check if two strings are balanced.
# For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2.
# The character’s position doesn’t matter.
s1 = "Yn"
s2 = "PYnative"
def str_bal(s1,s2):
  con = True
  for chr in s1:
    if chr in s2:
      continue
    else :
      con = False
  return con
con = str_bal(s1,s2)
print('new string:',con)
print(str_bal(s1,s2))
str_bal('Ynf','PYnative')

new string: True
True

False

In [ ]:
a1 = 'aad'
a2 = 'Mohmmadsaad'
def str_bal(a1,a2):
  condition = True
  for chr in a1:
    if chr in a2:
      continue
    else:
      condition = False
  return condition
condition = str_bal(a1,a2)
print('New string:',condition)
str_bal(a1,a2)
print(str_bal('Hmm','Mohmmadsaad'))

New string: True
False

In [ ]:
# Write a program to find all occurrences of “USA” in a given string ignoring the case.
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_str = 'USA'

# conver into lower
temp_str = str1.lower()

# count
count = temp_str.count(sub_str.lower())
print('The count of USA is:',count)

The count of USA is: 2

In [ ]:
s1 = "Welcome to USA. usa awesome, isn't it?"
sub_str = 'usa'

tem_str = s1.upper()

count = tem_str.count(sub_str.upper())
print('the USA count is:',count)

the USA count is: 2

In [ ]:
# Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.
a = "PYnative29@#8496"
sum = 0
cnt = 0
for chr in a:
  if chr.isdigit():
    sum += int(chr)
    cnt += 1
average = sum / cnt
print('Sum is:',sum,'Average is:',average)

Sum is: 38 Average is: 6.333333333333333

In [ ]:
s = 'Pushd*-/*65sada456897'
add = 0
cnt = 0
for chr in s:
  if chr.isdigit():
    add += int(chr)
    cnt += 1
avg = add / cnt
print('Sum is:',add,'Avergae is:',avg)

Sum is: 50 Avergae is: 6.25

In [ ]:
# Write a program to count occurrences of all characters within a string
str1 = "Apple"
cnt_dict = dict()
for chr in str1:
  count = str1.count(chr)
  cnt_dict[chr] = count

print(cnt_dict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
d = 'kjhsallisssd'
s1 = dict()
for chr in d:
  count = d.count(chr)
  s1[chr] = count
print(s1)

{'k': 1, 'j': 1, 'h': 1, 's': 4, 'a': 1, 'l': 2, 'i': 1, 'd': 1}

In [ ]:
# Reverse a given string
str1 = 'PYnative'
print(str1[::-1])

print(list(reversed(str1)))
s1 = ''.join(reversed(str1))
print(s1)

evitanYP
['e', 'v', 'i', 't', 'a', 'n', 'Y', 'P']
evitanYP

In [ ]:
# Write a program to find the last position of a substring “Emma” in a given string.
a1 = "Emma is a data scientist who knows Python. Emma works at google."
res = a1.rfind('Emma')
print('Last occurance of Emma starts at index',res)

Last occurance of Emma starts at index 43

In [ ]:
# Write a program to split a given string on hyphens and display each substring.
s1 = 'Emma-is-a-data-scientist'
a1 = s1.split('-')
print(a1)
print('Displaying each substring')
for i in a1:
  print(i)

['Emma', 'is', 'a', 'data', 'scientist']
Displaying each substring
Emma
is
a
data
scientist

In [ ]:
# Remove empty strings from a list of strings
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
res_list = []
for i in str_list:
  if i:
    res_list.append(i)
print(res_list)

['Emma', 'Jon', 'Kelly', 'Eric']